#d1{
    padding: 20px;
    border: red solid 2px;
    margin: 30px;
    width: 150px;
    height: 150px;
    float: left;
    border-radius: 10%;
    text-align: center;
    transition: width 1s,height 1s;
    font-family: 'Courier New', Courier, monospace;
}



#d1:hover,#hide{
    width: 200px;
    height: 200px;
    display: block;
   
}
#d1:hover #hide{
    color: red;
    display: block;
}
p{
    text-align: center;
    color: #ac3b61;
}

#hide{
    display: none;
}

div.d1{
  
  width: 100%;
  height:40px;
  background-color: #edc7b7;
  padding: 10px;
  text-align: justify;
}

a{
    color: #ac3b61;
    text-decoration: none;
    font-size: 20px;
    padding-right: 50px;
    font-family: 'Courier New', Courier, monospace;
    transition: font-size 0.5s;
}
a:hover{
    font-size:40px;
}

header{
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center ;
    background-color: #eee2dc;
  
    width: 100%;
}

body{
    background-color: #eee2dc;
}

div.home2 {
  
    background-color: #f2f2f2;
    padding: 20px;
   
  }

  form{
    border-radius: 5px;
    border-color: black;
    box-sizing: border-box;
    width: 400px;
    height: 400px;
    

  }
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  
  
  
 